# Alerting Webhooks 
DISCORD_WEBHOOK=https://discord.com/api/webhooks/your-id/your-token
# Note: Slack is currently configured directly in alertmanager.yml as Alertmanager doesn't natively support environment variables in its config.
SLACK_WEBHOOK=https://hooks.slack.com/services/your/slack/webhook

# Grafana Admin
GF_ADMIN_USER=admin
GF_ADMIN_PASSWORD=admin
